.content_event {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content_event p {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.content_event img {
    padding-bottom: 50px;
}