.block-partner {
  text-align: center;

}

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 30px 0;
}

@media only screen and (min-width: 768px) { 
  .block-partner {
    display: flex;
    text-align: center;
    align-items: center;
  }

  .partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}